* {
    font-family: Inter;
    outline: none;
}

body {
    background-color: rgb(2, 2, 2);
    color: #FFFFFF;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

main {
    min-height: 100%;
    margin-bottom: -50px;
}

#bp_sv, #bp_container, iframe {
    border-radius: 10px;
}

#bp_container {
    background: rgb(2, 2, 2, .97) !important;
}